.wrapper {
    &.inline {
        display: grid;
        grid-template-columns: 90px auto;
        margin-bottom: 24px;
    }

    &.inline .label {
        display: flex;
        align-items: center;
        margin-right: 8px;
        height: 100%;
    }

    &.inline .container {
        margin: 0;
    }
}

.container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 12px;
    background-color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
}

.select-input {
    display: -webkit-box;
    width: calc(100% - 20px);
    height: 100%;
    line-height: 1.8rem;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.select-icon {
    position: absolute;
    right: 12px;
    font-size: 1.6rem;
}

.select-popper {
    position: absolute;
    display: none !important;
    top: calc(100% + 6px);
    left: 0;
    height: 160px;
    padding-bottom: 8px;
    overflow-y: overlay;

    &.active {
        display: flex !important;
    }
}

.select-item {
    width: 100%;
    padding: 12px;
    list-style-type: none;
    transition: all 0.3s linear;

    &:hover {
        background-color: var(--hover-color);
    }
}