@import 'normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    // Colors
    --primary: #b22830;
    --black: #000;
    --white: #fff;
    --brown: #53382c;
    --gold: #f1bc7a;
    --hover-color: #ffe3e4;
    --shadow-color: #ffd8d9;
    --second-text-color: #919aa3;
    // --border-color: #e8ebed;
    --border-color: #ddd;
    --background-color: #f7f7f7;

    // Transition
    --linear: all 0.3s linear;
    
    // Fonts
    --font-family: 'Inter', sans-serif;

    // Customer layout
    --customer-layout-header-height: 70px;

    // Admin layout
    --admin-layout-header-height: 70px;
    --admin-layout-sidebar-width: 250px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--black);
    background-color: var(--white);
    overflow-y: overlay;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, .06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button, input, [tabindex] {
    outline: none;
    border: none;
    accent-color: var(--primary);
}

a {
    text-decoration: none;
}

// Fonts embeded
@font-face{
    font-family: Inter;
    src: url('../../assets/fonts/Inter-Regular.ttf');
    font-weight: 400;
}

@font-face{
    font-family: Inter;
    src: url('../../assets/fonts/Inter-Medium.ttf');
    font-weight: 500;
}

@font-face{
    font-family: Inter;
    src: url('../../assets/fonts/Inter-SemiBold.ttf');
    font-weight: 600;
}

@font-face{
    font-family: Inter;
    src: url('../../assets/fonts/Inter-Bold.ttf');
    font-weight: 700;
}

@font-face{
    font-family: UKNumberPlate;
    src: url('../../assets/fonts/UKNumberPlate.ttf');
}