.form {
    background-color: var(--white);
}

.form-header {
    margin-bottom: 24px;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.form-input {
    margin: 8px 0 24px;
    height: var(--input-height);
}

.input-btn {
    padding: 0 10px;
}

.submit-btn {
    margin-top: 24px;
    padding: 10px 16px;
}